<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Open Encounter</title>

<link rel="stylesheet" href="/style.css">

<script defer src="/script.js"></script>

<!-- <% //if (typeof scripts !== 'undefined') { %>
    <% //for (const script of scripts) { %>
        <script src="<%=//script%>" defer></script>
    <% //} %>
<% //} %> -->
