<header>
    <h1>Open Encounter</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/encounters">Encounters</a>
        <% if(currentUser) { %>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
        <% } else { %>
            <form action="/users/new" method="GET">
                <input class="sign sign-up" type="submit" value="Sign Up" />
            </form>
            <form action="/sessions/new" method="GET">
                <input class="sign sign-in" type="submit" value="Sign In" />
            </form>
        <% } %>
    </nav>
</header>