<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Encounter</title>
</head>
<body>
    <header>
        <h1>Open Encounter</h1>
        <nav>
        </nav>
    </header>
    <h2>Welcome to Open Encounter.</h2>
    <p>This is a simple, savable tool for running your encounters over and over, ad naseum, as much as you like, until your dice rolling hand falls off.</p>
    <h3>Start your build or log in to keep going!</h3>

    <section>
        <form action="/encounters/new" method="GET">
            <input type="submit" value="Create Encounter" />
        </form>
        <button>Log in...</button>
    </section>


</body>
</html>