<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>

    <%- include ("./partials/header.ejs") %>

    <h2>Welcome to Open Encounter.</h2>
    <!-- <h2><%= //sidecar.words() %></h2> -->
    <p>A simple, savable tool for running your encounters over and over, ad naseum, as much as you like, until your dice rolling hand falls off.</p>

    <section id="home-section">
        <h3>Start your build</h3>
        <h3>or</h3>
        <h3>log in to keep going!</h3>
        <form action="/encounters/new" method="GET">
            <input class="encounter-submit" type="submit" value="Create Encounter" />
        </form>
        <form action="/encounters" method="GET">
            <input class="encounter-submit" type="submit" value="See Encounters" />
        </form>
        <section id="home-signs">
            <% if(currentUser) { %>
                <form >
                    <input type="submit" value="Account" />
                </form>
            <% } else { %>
                <form  action="/users/new" method="GET">
                    <input class="sign sign-up" type="submit" value="Sign Up" />
                </form>
                <form action="/sessions/new" method="GET">
                    <input class="sign sign-in" type="submit" value="Sign In" />
                </form>
            <% } %>
        </section>
    </section>


</body>
</html>